.DS_Store
*.swp
/vendor
/.vagrant
/nbproject
/*.sublime-project
/*.sublime-workspace
/.idea
/.php_cs.cache
/_codeceptOutput
/yarn-error.log
/node_modules

# delete before to create own project
/yarn.lock
/composer.lock
