{% if pages is not empty %}
<ol class="breadcrumb">
    <li>
        <a href="{{ url('home') }}">
            <span class="fa fa-home"></span>
        </a>
    </li>
    {% for page in pages %}
        {% if page.isActive() %}
            <li class="active">
                {{ translate(
                    page.getLabel(),
                    page.get('text_domain') ?: navigation(container).getTranslatorTextDomain()
                ) }}
            </li>
        {% else %}
            <li>
                <a href="{{ page.getHref() }}">
                    {{ translate(
                        page.getLabel(),
                        page.get('text_domain') ?: navigation(container).getTranslatorTextDomain()
                    ) }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ol>
{% endif %}
